<!doctype html>

<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>IS_KOREARENTAL_VINA</title>
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- javascript file -->
		<script src="/assets/jquery-1.11.1.min.js"></script>
		<!-- jquery.easing.min.js cdn -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<!--<script src="/assets/jquery.easing.min.js"></script>-->
		<!--<script src="/assets/jssor.slider.mini.js"></script>-->
		<script src="/assets/owl.carousel.min.js"></script>
		<script src="/assets/theme.js"></script>
		<script src="/assets/jquery.stellar.min.js"></script>
		<script src="/assets/wow.min.js"></script>
		<script src="/assets/waypoints.min.js"></script>
		<script src="/assets/isotope.pkgd.min.js"></script>
		<script src="/assets/classie.js"></script>
		<script src="/assets/jquery.counterup.min.js"></script>
		<script src="/assets/smoothscroll.js"></script>
		<script src="/assets/bootstrap.min.js"></script>

		<!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
		<!-- Libs and Plugins CSS-->
		<link rel="stylesheet" href="/assets/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/animate.min.css">
		<link rel="stylesheet" href="/assets/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/owl.carousel.css">
		<link rel="stylesheet" href="/assets/owl.theme.css">
		<link rel="stylesheet" href="/assets/reset.css">
		<!-- main css file -->
		<link rel="stylesheet" href="/assets/style.css">
		<!-- screen css file -->
		<link rel="stylesheet" href="/assets/mobile.css">
		<!-- color css file -->
		<link rel="stylesheet" href="/assets/cool-gray.css">

</head>
    <body data-spy="scroll" data-target="#main-navbar">

    	<div class="body">

            <!--========== BEGIN HEADER ==========-->
            <header id="header" class="header-main">

                <!-- Begin Navbar -->
                <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

                  <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand page-scroll" href="/">IS_KOREARENTAL_VINA</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="page-scroll" href="/">Home</a></li>
                            <li><a class="page-scroll" href="#vision-section">Group Vision</a></li>
                            <li><a class="page-scroll" href="#history-section">Company History</a></li>
                            <li><a class="page-scroll" href="#rental-section">Rental System</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container -->
                </nav>
                <!-- End Navbar -->

            </header>

<!-- group vision location -->
		<div class="container" id="vision-section"></div>

      <!-- is dongseo group vision section -->
			<section id="service" style="margin-top:30px;" class="page bg-style1">


                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>Group Vision</h2>
                            <div class="devider"></div>
                            <p class="subtitle">IS_DONGSEO & IS_KOREA RENTAL</p>
                        </div>
                    </div>
                </div>

								<div class="container" style="margin-top:50px;">

									<div class="page-header-wrapper">
										<div class="container">
											<div class="page-header wow text-center fadeInDown" data-wow-delay="0.4s">
												<h3>IS DONGSEO</h3>
												<p class="subtitle"><strong>VISION</strong> - Corporate management of IS Dongseo starts with pursuit of technology for customers satisfaction</p>
											</div>
										</div>
									</div>

				<!-- alabaster css file --><!-- vision1-section is isdongseo section -->
				<section class="main-section alabaster" id="vision1-section">
					<div class="container">
				    	<div class="row">
										<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
				            	<img src="/img/about/vision-1.png" alt="" width="300" height="300">
				            </figure>
				        	<div class="col-lg-7 col-sm-8 featured-work">
				            		<div class="featured-box">
				                	<div class="featured-box-col2 wow fadeInRight delay-02s">
				                        <h5><i class="fa fa-circle" aria-hidden="true" style="font-size:5px;"></i>&nbsp;&nbsp;&nbsp;IDEA</h5>
				                        <p>Pursuit of technologies and services that catch customers' heart and touch their emotions.</p>
				                    </div>
				                </div>
				                <div class="featured-box">
				                	<div class="featured-box-col2 wow fadeInRight delay-04s">
				                        <h5><i class="fa fa-circle" aria-hidden="true" style="font-size:5px;"></i>&nbsp;&nbsp;&nbsp;CORE VALUES</h5>
				                        <p>Challenge is the future. Passion is the power. Trust is the fundamental.</p>
				                    </div>
				                </div>
				                <div class="featured-box">
				                	<div class="featured-box-col2 wow fadeInRight delay-06s">
				                        <h5><i class="fa fa-circle" aria-hidden="true" style="font-size:5px;"></i>&nbsp;&nbsp;&nbsp;VISION</h5>
				                        <p>A leading global company that creates unilimited possibilities and happiness by sharing growth.</p>
				                    </div>
				                </div>
												<div class="featured-box">
				                	<div class="featured-box-col2 wow fadeInRight delay-06s">
				                        <h5><i class="fa fa-circle" aria-hidden="true" style="font-size:5px;"></i>&nbsp;&nbsp;&nbsp;MISSION</h5>
				                        <p>Design a better future for the customers by their side to provide an affluent and happy life that everyone dreams of.</p>
				                    </div>
				                </div>
				            </div>
				        </div>
					</div>
				</section><!-- vision1-section -end-->
											<div class="extra-space-l"></div>
      </section><!-- is dongseo group vision section -->

				<!-- is korearental vision section -->
				<div class="container" align="center">
					<section id="vision2-section" class="page bg-style1">
							<div class="page-header-wrapper">
									<div class="container">
											<div class="page-header wow text-center fadeInDown" style="pull-left" data-wow-delay="0.4s">
												<h3> IS KOREA RENTAL</h3>
													<p class="subtitle"><strong>VISION</strong> - We always consider the customers, the society, and the world</p>

											</div>
									</div>
							</div>
							<div class="rotate-box-2-wrapper">
											<div class="row">
												<div class="col-md-3 responsible">
														<a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
																<img src="/img/about/responsible.png">
																<div class="rotate-box-info">
																		<h5><strong>RESPONSIBLE MANAGEMENT</strong></h5>
																</div>
														</a>
												</div>
												<div class="col-md-3 total">
															<a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
																	<img src="/img/about/total.png">
																	<div class="rotate-box-info">
																			<h5><strong>TOTAL SOLUTION</strong></h5>
																	</div>
															</a>
													</div>
													<div class="col-md-3 needs">
															<a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
																	<img src="/img/about/needs.png">
																	<div class="rotate-box-info">
																			<h5><strong>CUSTOMERS' NEEDS</strong></h5>
																	</div>
															</a>
													</div>
													<div class="col-md-3 satisfaction">
															<a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
																	<img src="/img/about/satisfaction.png">
																	<div class="rotate-box-info">
																			<h5><strong>CUSTOMERS' SATISFACTION</strong></h5>
																	</div>
															</a>
													</div>
											</div> <!-- /.row -->
							</div>
							<div class="extra-space-l"></div><!-- extra space -->
					</section>	<!-- is korearental vision section end-->
				</div>
				<!-- is korearental business model section -->
		 <section id="prices-section" class="page">
							 <div class="page-header-wrapper">
									 <div class="container">
											 <div class="page-header wow text-center fadeInDown" data-wow-delay="0.4s">
												 <h3> IS KOREA RENTAL</h3>
													 <p class="subtitle"><strong>BUSINESS MODEL</strong> - Our business model with the best service quality to maximize clients' values</p>

											 </div>
									 </div>
							 </div>

			 			 <div class="extra-space-l"></div>

				 <div class="prices container" align="center">
					 <div class="row">

						 <div class="price-box price-box-featured col-md-3 wow flipInY" data-wow-delay="0.3s">
							 <div class="panel panel-default">
								 <div class="panel-heading text-center">
									 <i class="fa fa-comments fa-2x"></i>
									 <h3>Consulting</h3>
								 </div>
								 <div class="panel-body text-center" align="center" >
									 	<img class="img-rounded" style="border-radius: 25px;" src="/img/about/consulting.jpg">
								 </div>
								 <ul class="list-group text-center">
									 <li class="list-group-item"><strong>Selecting Property</strong></li>
									 <li class="list-group-item"><strong>Quotation</strong></li>
									 <li class="list-group-item"><strong>Counseling</strong></li>
								 </ul>
							 </div>
						 </div>
						 <div class="price-box col-md-3 wow flipInY" data-wow-delay="0.5s">
							 <div class="panel panel-default">
								 <div class="panel-heading text-center">
									 <i class="fa fa-credit-card fa-2x"></i>
									 <h3>Asset Management</h3>
								 </div>
								 <div class="panel-body text-center" align="center">
									 <img class="img-rounded" style="border-radius: 25px;" src="/img/about/asset.jpg">
								 </div>
								 <ul class="list-group text-center">
									 <li class="list-group-item"><strong>Rental Equipment</strong></li>
									 <li class="list-group-item"><strong>Purchase Proxy</strong></li>
									 <li class="list-group-item"><strong>Trading used equipment</strong></li>
								 </ul>
							 </div>
						 </div>
						 <div class="price-box price-box-featured col-md-3 wow flipInY" data-wow-delay="0.7s">
							 <div class="panel panel-default">
								 <div class="panel-heading text-center">
									 <i class="fa fa-wrench fa-2x"></i>
									 <h3>Technical Support</h3>
								 </div>
								 <div class="panel-body text-center" align="center">
									 <img class="img-rounded" src="/img/about/support.jpg">
								 </div>
								 <ul class="list-group text-center">
									 <li class="list-group-item"><strong>Calibration</strong></li>
									 <li class="list-group-item"><strong>S/W</strong></li>
									 <li class="list-group-item"><strong>Repair</strong></li>
									 <li class="list-group-item"><strong>After Sales service</strong></li>
									 <li class="list-group-item"><strong>Skills Training</strong></li>
								 </ul>
							 </div>
						 </div>
						 <div class="price-box col-md-3 wow flipInY" data-wow-delay="0.9s">
							 <div class="panel panel-default">
								 <div class="panel-heading text-center">
									 <i class="fa fa-cog fa-2x"></i>
									 <h3>Logistics</h3>
								 </div>
								 <div class="panel-body text-center" align="center">
									 <img class="img-rounded" style="border-radius: 25px;" src="/img/about/logistics.jpg">
								 </div>
								 <ul class="list-group text-center">
									 <li class="list-group-item"><strong>Delivery</strong></li>
									 <li class="list-group-item"><strong>Exchange</strong></li>
									 <li class="list-group-item"><strong>Return</strong></li>
								 </ul>
							 </div>
						 </div>
					 </div> <!-- /.row -->
				 </div> <!-- /.container -->

			 <div class="extra-space-l"></div>
		 </section>
		 <!-- End iskorearental business model section -->


		 <!-- history section location -->
	<div class="container" id="history-section"></div>

						<div class="container" align="center">

							<!-- cta section gray background -->
						<section id="cta-section" style="margin-top:100px;">
								<!-- Begin page header-->
								<div class="page-header-wrapper">
										<div class="container">
												<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
														<h2>COMPANY HISTORY</h2>
														<div class="devider"></div>
														<p class="subtitle"> From <strong>2013's</strong> To <strong>2016's</strong></p>
												</div>
										</div>
								</div>
                <!-- End page header-->
                <!-- Begin roatet box-2 -->
								<div class="row" align="center">
								<ul class="timeline">
								    <li>
								        <div class="timeline-badge">
								          <a><i class="fa fa-circle" id=""></i></a>
								        </div>
								        <div class="timeline-panel">
								            <div class="timeline-heading">
								                <h5>2016's</h5>
								            </div>
								            <div class="timeline-body">
								                <p>
																	<strong>“Rent Car” launched</strong> <br><br>
																	<div align="left" style="margin-left:20px;">
																		<p>
																	<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Man-Lift” : SAMSUNG DISPLAY – BAC NINH (SDV 3) <br>
																	<br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Man-Lift” : SAMSUNG ELECTRO – Mechanics Vietnam Co., Ltd (SEMV module 2)<br>
																	<br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Man-Lift” : LG DISPLAY HAI PHONG<br>
																	<br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Man-Lift” : LG INNOTEK HAI PHONG <br>
																  <br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Rent Car” : DOOSAN HEAVY INDUSTRIES <br>
																  <br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Rent Car” : SHINHAN BANK<br>
																	<br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Rent Car” : KOOKMIN BANK<br>
																</p>
																	</div>
																</p>
								            </div>
								            <div class="timeline-footer">
								                <p class="text-right"><h6>In Hochiminh Vietnam</h6></p>
								            </div>
								        </div>
								    </li>
								    <li class="timeline-inverted">
								        <div class="timeline-badge">
								            <a><i class="fa fa-circle invert" id=""></i></a>
								        </div>
								        <div class="timeline-panel">
								            <div class="timeline-heading">
								                <h5>2015's</h5>
								            </div>
								            <div class="timeline-body">
								                <p>
																<strong>	HO CHI MINH branch established<br>
																	“Office Equipment” launched (Photocopy and Laptop)</strong><br><br>
																	<div align="left" style="margin-left:20px;">
																			<p>
																	<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Man-Lift” : SAMSUNG DISPLAY – BAC NINH (SDV 1)<br>
																	<br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Man-Lift” : SAMSUNG DISPLAY – BAC NINH (SDV 2)<br>
																	<br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Man-Lift” : SAMSUNG ELECTRONIC – VIETNAM THAI NGUYEN (3D Glass)<br>
																	<br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Man-Lift” : SAMSUNG ELECTRONIC – HO CHI MINH (SEHC 1,2)<br>
																	<br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Photocopy” : SAMSUNG DISPLAY BAC NINH<br>
																	<br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Photocopy” : SAMSUNG ELECTRONIC HO CHI MINH<br>
																</p>
																	</div>
																</p>
								            </div>
								            <div class="timeline-footer">
								                <p class="text-right"><h6>In Hochiminh Vietnam</h6></p>
								            </div>
								        </div>
								    </li>
								    <li>
								        <div class="timeline-badge">
								            <a><i class="fa fa-circle" id=""></i></a>
								        </div>
								        <div class="timeline-panel">
								            <div class="timeline-heading">
								                <h5>2014's</h5>
								            </div>
								            <div class="timeline-body">
								                <p><strong>“Man-Lift” and “Test Measurement Instrument” launched</strong><br><br>
																	<div align="left" style="margin-left:20px;">
																			<p>
																	<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Man-Lift” : SAMSUNG ELECTRO – Mechanics Vietnam Co., Ltd (SEMV)<br>
																	<br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Man-Lift” : SAMSUNG ELECTRONIC – VIETNAM THAI NGUYEN (SEVT)<br>
																	<br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>	“Man-Lift” : SAMSUNG DISPLAY – BAC NINH (SDV 1)<br>
																</p>
																 </div>
																</p>
								            </div>
								            <div class="timeline-footer">
								                <p class="text-right"><h6>In Hanoi Vietnam</h6></p>
								            </div>
								        </div>
								    </li>
								    <li class="timeline-inverted">
								        <div class="timeline-badge">
								            <a><i class="fa fa-circle invert" id=""></i></a>
								        </div>
								        <div class="timeline-panel">
								            <div class="timeline-heading">
								                <h5>2013's</h5>
								            </div>
								            <div class="timeline-body">
								                <p><strong>HANOI HQ established</strong></p>
																<br>
								            </div>
								            <div class="timeline-footer">
								                <p class="text-right"><h6>In Hanoi Vietnam</h6></p>
								            </div>
								        </div>
								    </li>
								    <li class="clearfix no-float"></li>
								</ul>
							</div>
								<div class="extra-space-l"></div>
            </section><!-- history section -->
					</div>

					<!-- advantage of rental section location -->
						<div class="container" id="rental-section"></div>
						<!-- advantage of rental section-->
						<div class="container">

            <section id="rental-system-section">

      					<div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(../img/testimonial5-bg.jpg);">
      							<div class="cover"></div>

      							<div class="page-header-wrapper">
      									<div class="container">
      											<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
      													<h2>Advantage Of Rental</h2>
      													<div class="devider"></div>
      													<p class="subtitle">Why we need to use Rental Products?</p>
      											</div>
      									</div>
      							</div>

      							<div class="container">
      									<div class="testimonial-inner center-block text-center">
      											<div id="owl-testimonial" class="owl-carousel">
      													<div class="item">
      															<blockquote>
                                      <h4><strong>Professional Purchase / Disposal</strong></h4>
                                        <p>Cost Reduction by a large purchase<br>
                                   Vast information about the brand new product & newly launched brand<br>
                                   Specialized in disposal of the used machinery: <br>
                                   Having many dealers, REFURBISHING project etc.
                                        </p>
      															</blockquote>
      													</div>
      													<div class="item">
      															<blockquote>
                                      <h4><strong>Professional Maintenance</strong></h4>
                                          <p>Experienced engineers for After-Sales Service<br>
                                   Managing item records and building up the computer system<br>
                                   Systematizing parts supply<br>
                                   Affiliating with worldwide After-Sales Service network
                                          </p>
      															</blockquote>
      													</div>
                                <div class="item">
      															<blockquote>
                                      <h4><strong>Maximizing Profitability / efficiency</strong></h4>
                                        <p>Economic effect : cost cutting, maximizing profitability by professional dealing<br>
                                  Flexibility of use : At right time and place, providing optimal equipment
                                  SALES & RENTAL BACK : Purchasing customers’ equipment and renting back
                                        </p>

      															</blockquote>
      													</div>
                                <div class="item">
      															<blockquote>
                                      <h4 ><strong>Simplifying the work</strong></h4>
							                               <p>Simplifying the channel for the equipment<br>
																			Specializing the work  : Focusing on main field by outsourcing of production supply
							                               </p>

      															</blockquote>
      													</div>
      											</div><!-- owl -->
      									</div>
      							</div><!-- container -->
      					</div><!-- testimonial -->
      			</section>
					</div>
      			<!-- end advantage of rental section  -->

            <!-- Begin footer -->
						<div class="container">

											<footer id="footer" class="clearfix">
											    <div id="footer-widgets">
											      <div id="footer-wrapper">
											        <div class="container">
																	<!-- family site -->
																	<div class="col-md-6 family" style="margin-bottom:20px;">
											              <div id="meta-3" class="widget widgetFooter widget_meta">
											              <h4 class="widgettitle">Family Site :</h4>
											              <ul>
											    		  			<li><a href="http://www.korearental.co.kr/" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL KOREA</a></li>
														    			<li><a href="http://www.krcchina.com/index.asp" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL CHINA</a></li>
														    			<li><a href="http://www.isdongseo.co.kr/main/" target="_blank"><i class="fa fa-arrow-circle-right"></i> IS DONGSEO Co., Ltd.</a></li>
																			<li><a href="http://www.inushaus.com/main/index.asp" target="_blank"><i class="fa fa-arrow-circle-right"></i> INUS</a></li>
											             </ul>
																 	</div>
																</div> <!-- end col-md-6 -->

																<div class="col-md-6 join">
																	<div id="meta-3" class="widget widgetFooter widget_meta">
																		<h4 class="widgettitle">Join Us :</h4>

																		<li><a href="https://www.facebook.com/iskorearentalvina" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp; IS_KOREARENTAL_VINA FACEBOOK</a></li><br><br>
																		<li><a href="http://blog.naver.com/krc15601" target="_blank"><img src="/img/blogger-logo-silhouette.png"> &nbsp;&nbsp;&nbsp; IS_KOREARENTAL_VINA BLOG</a></li><br><br>
																	 	<div class="center"><button data-toggle="modal" data-target="#email_about" class="btn btn-yellow btn-sm">Send Message</button></div>
																	</div>
														  	</div> <!-- col-md-6 -->
											      	</div><!-- end container-->
									  			</div> <!-- footer wrapper -->
										</div> <!-- end #footer-widgets -->

											      <div id="sub-floor">
											        <div class="container">
											          <div class="row">
											            <div class="col-md-8 copyright">
											            © Copyright IS_KOREARENTAL_VINA Co., Ltd.
											            </div>

											          </div> <!-- end .row -->
											        </div>
											      </div>

											    </footer>
							</div>
            <!-- End footer -->

						<!-- Scroll to top button -->
            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a>

						<div id="email_about" class="modal fade" role="dialog" style="margin-top:50px;">
							<div class="modal-dialog">
								<!-- Modal content-->
								<div class="modal-content">

									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">×</button>
										<h4 class="modal-title">Write to us</h4>
									</div>
									<div class="modal-body">
										<div class="contact-form">
												<form role="form" action="/home/write" method="post">
														<div class="form-group">
																<input type="text" class="form-control input-lg" name="name" placeholder="your (company) name" required>
														</div>
														<div class="form-group">
																<input type="email" class="form-control input-lg" name="email" placeholder="your e-mail" required>
														</div>
														<div class="form-group">
																<textarea class="form-control input-lg" rows="5" name="content" placeholder="message (please write your phone number)" required></textarea>
														</div>
														<div align="center">
														 <button type="submit" class="btn btn-lg" data-wow-delay="0.8s">Send</button>
													  </div>
												</form>
										</div>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>

									</div>

								</div>

							</div>

        </div><!-- body ends -->
    </body>


</html>
